html, body {
	background-color: #191979;
	color:	white;
}
img {
	width:	400px;
	height: auto;
}

header {
	font-family: "Times New Roman", Serif;
	font-size: 3em;
	font-style: italic;
}

a:link {
	color: yellowgreen;
}

a:visited {
	color: darkorange;
}

#buddy-name {
	text-decoration: line-through;
}
